body {
    background: url("../images/blue_background_simple.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px 30px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 20px;
}


.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px 20px;
}


.radio.group{
    display: flex;
    flex-wrap: wrap;]
    gap: 10px 5px;
    flex-direction: column;
}

.buttons{
    display: flex;
    gap: 10px 5px;
    flex-direction: column;
    width: 60%;

}

.prediction{
    display: flex;
    flex-direction: column;

}