/*
    Set background image to cover the whole page
    flexed the body to align container as center
 */
body {
    background: url("../images/gender.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*
    flexed container horizontally for form and prediction result
    justify items from flex start
    set background transparent
    make content box as a rounded square
 */
.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px 30px;
    padding: 40px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 20px;
}


/*
    flex form contents vertically
    put gap between elements
 */
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px 20px;
}


/*
   flex radio buttons vertically
    put gap between elements
 */
.radio.group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
    flex-direction: column;
}

/*
    flex radio buttons vertically
    put gap between elements
 */
.buttons{
    display: flex;
    gap: 10px 5px;
    flex-direction: column;
    width: 60%;

}

/**
    flex prediction results vertically
 */
.prediction{
    display: flex;
    flex-direction: column;

}

/**
    Answers field set
    make cornered border
    flex contents in column with gap between objects
 */
.answer{
    display: flex;
    flex-direction: column;
    gap: 15px 5px;
    border-radius: 20px;
    align-items: flex-start;
}

/**
    warning text
    set red and bold for emphasize
 */
#warning{
    color: red;
    font-size: large;
    font-weight: bold;
}

/**
    Set all buttons as rounded
    with white background and black text and border
 */
input[type=button]{
    border-radius: 10px;
    background-color: white;
    border-color: black;
    color: black;
    width: 80%;
}